
<div class="row">
  <div class="col-md-12 ">
    <meter id="health-bar-hero" class="{{name}} health-bar-hero" value="100" min="0" max="100">{{health}}</meter>
  <div class="hero">
    <img id="{{name}}" class="{{name}} {{animation}}" src="{{image}}" alt="hero-image">
  </div>
    <!-- <select class="action" name="">
      <option value="slap">slap</option>
      <option value="pull-hair">Pull Hair</option>
      <option value="kick">Kick in the shin</option>
    </select> -->
    <button class="fight-button fight" type="button" name="button">Fight</button>

      </div>
    </div>
